<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @truck.make %>
</p>

<p>
  <b>Model:</b>
  <%= @truck.model %>
</p>


<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
